*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    background: rgb(0, 187, 255);
    text-align: center;
    padding: 10px;
    color: white;
    flex: 0 0 50px;
}
.contenedor{
    flex: 1;

    background: #eee;
    border-radius: 12px;
    margin: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contenedor>form{
    flex: 0 0 50px;
    background: rgb(255, 204, 0);
    padding: 25px;
    border-radius: 75%;
}
.contenedor>ul{
    flex: 1;

    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 1px;
}

.card{
    flex: 0 0 180px;
    background: white;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 3px;
}